server:
  port: 8888
  host_user_service: ${HOST_USER_SERVICE:localhost}
  port_user_service: ${PORT_USER_SERVICE:8080}
  host_notify_service: ${HOST_NOTIFY_SERVICE:localhost}
  port_notify_service: ${PORT_NOTIFY_SERVICE:8081}
  host_core_service: ${HOST_CORE_SERVICE:localhost}
  port_core_service: ${PORT_CORE_SERVICE:8082}
  host_socket: ${HOST_SOCKET:localhost}
  port_socket: ${PORT_SOCKET:9090}

app:
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://${server.host_user_service}:${server.port_user_service}
          predicates:
            - Path=${app.api-prefix}/user/**
          filters:
            - StripPrefix=2
        - id: notify-service
          uri: http://${server.host_notify_service}:${server.port_notify_service}
          predicates:
            - Path=${app.api-prefix}/notify/**
          filters:
            - StripPrefix=2
        - id: core-service
          uri: http://${server.host_core_service}:${server.port_core_service}
          predicates:
            - Path=${app.api-prefix}/core/**
          filters:
            - StripPrefix=2
        - id: socket
          uri: ws://${server.host_socket}:${server.port_socket}
          predicates:
            - Path=/socket/**
        - id: oauth-callback
          uri: ${BE_URL:http://localhost:8080}
          predicates:
            - Path=${app.api-prefix}/user/login/oauth2/code/**

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: user-service
        url: ${app.api-prefix}/user/v3/api-docs
      - name: notify-service
        url: ${app.api-prefix}/notify/v3/api-docs
      - name: core-service
        url: ${app.api-prefix}/core/v3/api-docs

logging:
  level:
    org:
      springframework:
        security: info
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %clr(%-5level) [%clr(%-15.15t){magenta}] %clr(%-40.40logger{36}){cyan} : %msg%n"