<configuration>
    <springProfile name="dev">
        <appender name="CONSOLE_DEV" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%X{requestId}] [%X{username}] [%X{method} %X{path}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="TRACE">
            <appender-ref ref="CONSOLE_DEV"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CONSOLE_PROD" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%X{requestId}] [%X{username}] [%X{method} %X{path}] %logger{36} - %msg%n%ex{10}</pattern>
            </encoder>
        </appender>
        <root level="TRACE">
            <appender-ref ref="CONSOLE_PROD"/>
        </root>
    </springProfile>
</configuration>

